table.trips-table {
    font-family: "Roboto", sans-serif;
    border: 1px solid #1C6EA4;
    background-color: #FCFCFC;
    min-width: 60%;
    width: auto;
    text-align: left;
    border-collapse: collapse;
  }
  table.trips-table td, table.trips-table th {
    border: 1px solid #000000;
    padding: 5px 5px;
  }
  table.trips-table tbody td {
    font-size: 13px;
    color: #000000;
  }
  table.trips-table tr:nth-child(even) {
    background: #ECECEC;
  }
  table.trips-table thead {
    background: #FFD699;
  }
  table.trips-table thead th {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 1px solid #000000;
  }
  table.trips-table thead th:first-child {
    border-left: none;
  }
  
  table.trips-table tfoot td {
    font-size: 14px;
  }
  table.trips-table tfoot .links {
    text-align: right;
  }
  table.trips-table tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }